.cards__container {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.pokemon-card{
    width: 160px;
    height: 195px;
    margin: 10px;
}
.pokemon-img {
    width: 100%;
}

.back-cards__container {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.back-card {
    margin: 10px;
}

.list__container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}