<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <h1 class="title">El juego de las parejas</h1>
      <div class="form-container">
        <label for="cards-number4" class="label-number">
          <input
            class="input-cards-number"
            id="cards-number4"
            type="radio"
            value="4"
            name="cards-number"
          />
          <span class="checkmark"></span>
          4
        </label>
        <label for="cards-number6" class="label-number">
          <input
            class="input-cards-number"
            id="cards-number6"
            type="radio"
            value="6"
            name="cards-number"
          />
          <span class="checkmark"></span>
          6
        </label>
        <label for="cards-number8" class="label-number">
          <input
            class="input-cards-number"
            id="cards-number8"
            type="radio"
            value="8"
            name="cards-number"
          />
          <span class="checkmark"></span>
          8
        </label>
        <button type="button" class="btn-start">Comenzar</button>
      </div>
      <div class="list__container">
        <ul class="cards__container"></ul>
      </div>
      <button type="button" class="log-button">Log</button>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>
